@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PickUp)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            @*<td>
                @Html.DisplayNameFor(model => model.PickUp)
            </td>*@
            <td>
                <a asp-action="ConfirmPickup" asp-route-id="@item.CustomerId">Confirm Pickup</a>
            </td>
            <td>
                @Html.ActionLink("Filter by Day", "FilterDays", "Employees")
            </td>


        </tr>
}
    </tbody>
</table>
